@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


.popupPerfil {
  position: absolute;
  z-index: 1001;
}

.desactive{
  display: none;
}

.popupPerfil__box {
  display: flex;
  position: fixed;
  background-color: rgba(153, 153, 153, 0.5);
  height: 100vh;
  width: 100%;
}
.boxcontent {
  width: 40%;
  min-width: 16rem;
  height: 7rem;
  background-color: #007cc3;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 15px;
}

.button {
  /* background-color: #fff; */
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  width: 100%;
  font-size: 1.2rem;
  font-family: "Abel", sans-serif;
  padding: 0.3rem 0;
  color: #007cc3;
}
