.section-products {
  width: 100%;

  .section-products__list {
    margin: auto;
    max-width: 70rem;
    width: 95%;
    @include grid(16rem);
    list-style: none;

    .li-product {
      border: $border2;
      font-family: $poppins;
      position: relative;
      border-radius: 5px;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      width: 100%;
      max-width: 30rem;
      margin: auto;
      height: 100%;

      .img-product {
        height: 4rem;
      }

      .name-product {
        font-family: $abel;
      }

      .description-product {
        line-height: 1.1;
        margin: .5rem 0;
      }

      .priceOrigin-product {
        text-decoration: line-through;
        opacity: 0.7;
      }

      .li-product__popup {
        // display: none;
        background-color: rgba(0, 0, 0, 0.815);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: -20rem;
        visibility: hidden;
        border-radius: 5px;

        .popup-div {
          height: 50%;
          align-items: center;
          display: flex;
          justify-content: center;

          a {
            border-radius: 5px;
            padding: 1rem;
            background-color: $blue-main;
            color: $white;

            &:hover {
              background-color: $white;
              color: $black;
              transition: 0.3s linear;
            }
          }

          // &.info {
          //   background-color: $blue-2;
          // }

          &.car {
            a {
              background-color: $green2;
              &:hover {
                background-color: $white;
                color: $black;
              }
            }
          }
        }
      }

      &:hover {
        .li-product__popup {
          transition: 0.4s linear;
          display: block;
          transform: translateX(20rem);
          visibility: visible;
        }
      }
    }
  }

  .section-products__buttons {
    width: 95%;
    max-width: 16rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 1.7rem;
    }

    a {
      background-color: $green3;
      color: $white;
      font-family: $poppins;
      padding: 0.2rem 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
    }
  }
}

@import "../components/navbar/NavbarOne";

@import "../components/forms/FormOne";