.header-main {
  width: 100%;
  background-color: $white;
  box-shadow: $boxShadow2;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header-main__navbar {
    max-width: 96rem;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    nav {
      display: flex;
      align-items: center;
    }

    .nav-one {
      a{
        display: flex;
        align-items: center;
      }
      .nav-one__img {
        height: 2.3rem;
        margin-right: 0.5rem;
      }

      .title {
        font-family: $lobster;
        font-size: 2.9rem;
        margin: 0;
        color: $black;

        &.active {
          color: $green2;
        }
      }
    }

    .nav-two {
      .nav-two__list {
        display: flex;
        text-decoration: none;
        list-style: none;
        column-gap: 1.5rem;
        align-items: center;
        font-family: $poppins;

        a {
          color: $black;
        }

        .li {
          &.active {
            a {
              color: $blue-main;
              font-weight: bold;
            }
          }

          &:hover {
            border-bottom: 2px solid $blue-main;

            a {
              color: $blue-main;
            }
          }
        }
      }
    }

    .nav-three,
    .nav-four {
      column-gap: 2rem;

      .car {
        border-radius: 50%;
        padding: 0.4rem 0.5rem 0.35rem 0.4rem;
        border: 1px solid $green2;
        cursor: pointer;

        a {
          color: $black;
        }
      }

      .perfil {
        margin: 0.7rem 0;
        text-align: center;

        .nav-three__img {
          height: 2.9rem;
          cursor: pointer;
        }
      }
    }

    .nav-three {
      .car {
        &:hover {
          background-color: $blue-main;

          a {
            color: $white;
          }
        }
      }
    }

    .nav-contain__two_three,
    .nav-four {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .header-main {
    .header-main__navbar {
      position: relative;
      nav {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }

      .nav-four {
        display: flex;
        column-gap: 4vw;

        .car {
          border: none;
          background-color: $green2;
          color: $white;
          padding: 0.7rem 0.8rem 0.5rem 0.8rem;
        }

        #menu-btn {
          &.active {
            background-color: $blue-main;
            color: $white;
          }
        }
      }

      .nav-contain__two_three {
        display: inline;
        width: 70%;
        height: 90vh;
        min-height: 40rem;
        background-color: $white;
        top: 100%;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        z-index: 2;
        padding: 1rem;

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          box-shadow: $boxShadow3;
        }

        .nav-two,
        .nav-three {
          display: flex;
        }

        .nav-two {
          .nav-two__list {
            display: inline-block;
            width: 100%;

            .li {
              border-left: $border2;
              border-right: $border2;
              padding: 1rem 0.5rem;
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin: 1rem 0;
            }
          }
        }

        .nav-three {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0.5rem;

          .nav-three__chevron {
            text-align: right;
            color: $green2;
            font-family: $poppins;
          }
        }
      }
    }
  }
}