.whoWeAre {
  margin-top: 5rem;

  .whoWheAre__content {
    width: 95%;
    max-width: 70rem;
    min-height: 30rem;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: $black;

    .contentVideo{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;

      }
    }

    .contentParagraph {
      flex: 1 1 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      font-family: $poppins;
      position: relative;
      z-index: 2;
      color: $white;

      .paragraph{
        margin-top: 1rem;
        // font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        max-width: 60rem;
      }

      a{
        margin-top: 1rem;
        border: 1px solid $white;
        padding: .7rem 1rem;
        border-radius: 25px;

        &:hover {
          background-color: $white;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}